<!DOCTYPE html>
<html>
<head>
  <title>ImmediaMovies</title>
  <%= stylesheet_link_tag    'default', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'jquery.countdown', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'default', 'data-turbolinks-track' => true%>


	  <%= csrf_meta_tags %>
	  <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
</head>
<body>
    <nav class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to "Immedia Movies", movies_shows_path, method: :get, class: "navbar-brand" %>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
        <%= form_tag movies_index_path, method: :post, :id => "movie_search", class: "navbar-form navbar-right" do %>
            	<div class="form-group">
					<%= text_field_tag :search_name, params[:search_name] , class: "form-control" %>
				</div>
				<div class="form-group">
					<%= submit_tag "Search", class: 'btn btn-primary form-control' %>
				</div>
			<% end %>

          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div><!-- /.nav-collapse -->
      </div><!-- /.container -->
    </nav><!-- /.navbar -->

    <div class="container">
    	<%= yield %>

      <hr>

      <footer>
        <p>&copy; <%= Time.now.year %> Immedia Movies, Inc.</p>
      </footer>

    </div><!--/.container-->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../assets/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  </body>
</html>
